.wrapper {
    padding: 1rem 32px 1rem 64px;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.cardGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cardGrid>div {
    flex: 1 1 calc(25% - 1.5rem);
    max-width: calc(25% - 1.5rem);

    @media (max-width: 900px) {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    @media (max-width: 600px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.viewToggle {
    margin-top: 2rem;
    text-align: center;
}